body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
    background: rgb(200, 195, 195);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flashcard {
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background: #ffeb3b;
    font-size: 20px;
}

.hidden {
    display: none;
}

button {
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
